<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>175384416117-1qqel01973jqbup3poej9ukjbnpf0a7c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.175384416117-1qqel01973jqbup3poej9ukjbnpf0a7c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>175384416117-la4b2j0q0ht2fott8e8qt26pd9akrv2h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAkTQRdZTdTKPp1gvLqMaxSkbCspLU4ySs</string>
	<key>GCM_SENDER_ID</key>
	<string>175384416117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.betaVersion</string>
	<key>PROJECT_ID</key>
	<string>beta-8009a</string>
	<key>STORAGE_BUCKET</key>
	<string>beta-8009a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:175384416117:ios:5fff333773519c0b1d8d3c</string>
</dict>
</plist>